// variables, mixins, placeholder, root, *, html, body

$color-primary: #D9D9D9;
$color-secondary: #1c2331;
$color-third: #000;

$font-family-main: Josefin Sans;
$font-family-special: Dancing Script;

$font-lg:80px;
$font-md:50px;
$font-sm:18px;
$font-ssm:16px;

$logo-lg-width: 496px;
$logo-md-width: 310px;

body{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

