/* Header - Logo  */
body{
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    background: url(images/background1.PNG) repeat top right;
    display: flex;
    padding:  0 10vw;
}
.logo img{
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

/* Header - Main/menu */
nav{
    display: block;
    background-color: #F7D0D5;
    padding: 20px 10vw;
    color: white;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li a{
    text-decoration: none;
    color: white;

}

/* Header - Head */
.head{
    display: block;
    background-color: #F7D0D5;
    padding: 20px 10vw;
    color: white;
    font-size: 16px;
}

.head ul{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.head ul li{
    text-decoration: none;
    display: block;
}


.head ul li:nth-child(1){
    display: flex;
}

.head strong{
    font-size: 18px;
}
      

