// reusable selectors

/* Header, Footer */
.main-name{
    font-size: $font-md*1.25;
    font-family: Nunito;
    font-weight: normal;
    margin: 0;
}
.sub-name{
    font-size: 18px;
    margin-top: 0;
    font-weight: 300;
    

}

/*Header, Section */

.main-heading{
    font-family: $font-family-special;
    font-size: $font-lg;
    color:$color-secondary;
    margin: 0 0 40px 0;

}
.sub-heading{
    font-size: $font-md;
    margin: 0 0 30px 0;
    font-weight: 300;
}
.main-btn{
    color:$color-secondary;
    height: 45px;
    width: 170px;
    font-size: 14px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid $color-secondary;
    &:hover{
        background-color: $color-secondary;
        color:black;
        cursor: pointer;
    }
}


/* Logo */

.logo img{
    width: 110px;
    height: 110px;
    border: 3px solid $color-secondary;
    border-radius: 50%;
    margin-right: 20px;
}